@{
    //This is the set of divs that will lay out a row for one area in the dungeon
}

@model string

<div class="card foreground-card">
    <div class="card-body d-flex justify-content-stretch">
        <div class="row nowrap-row stretch-to-width">
            <div class="col-12 d-flex">
                <p class="middle">@Model</p>
            </div>
        </div>
    </div>
</div>
